h1{
  text-decoration-color: green
}

.main-headings{
  margin-top: 10%;
  text-align: center;
}

.links{
  text-align: center;

}

.links>a{
  padding: 5% 5%;
}

.social-link{
  bottom: 0;
  position: fixed;
  text-decoration: none;
  color: black;
}

.social-link:hover{
  color: grey;
}
