<style>
</style>

<div class="main-headings">
  <h1>TGrass</h1>

  <h2>Content Creator</h2>

  <h3>Streamer</h3>
  <h3>Tournament Organizer for Fighting Games</h3>
</div>


<div class="links">
  <div>
    <a class="fa fa-twitter" href="https://www.youtube.com/channel/UCf_bdmftV3qWggWkAdlk_BQ">Youtube</a>
  </div>



  <div>
    <a class="fa fa-tiktok" href="https://www.tiktok.com/@tgrass715?lang=en">Tiktok</a>
  </div>
  <fa-icon [icon] = 'twitter'> </fa-icon>
  <div>
    <a class="fa fa-twitter" href="https://twitter.com/tGrass715">Twitter</a>
  </div>
  <div>
    <a class="fa fa-twitter" href="https://discord.gg/HAE2aXDyJx">Discord</a>
  </div>
  <div>
    <a class="fa fa-twitter" href="https://www.twitch.tv/tgrass">Twitch</a>
  </div>
</div>

<router-outlet></router-outlet>
